<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Logger</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
    <!-- Header -->
    <header class="bg-blue-500 text-white py-4 rounded-sm shadow-md">
        <div class="container mx-auto px-4 ">
            <h1 class="text-2xl font-bold">Event Logger</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto flex-1 p-4">
        <!-- Replace this with your actual content -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <%- body %>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-200 text-gray-600 py-2">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; 2024 Event Logger. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
